<h1>@ViewBag.message</h1>

<form asp-action="Gptbac2">
    <label>Hệ số A: </label>
    <input type="text" name = "hesoA">
    <br>
    <label>Hệ số B: </label>
    <input type="text" name = "hesoB">
    <br>
    <label>Hệ số C: </label>
    <input type="text" name = "hesoC">
    <br>
    <input type="submit" value = "Giải PT">
</form>