<form asp-action="Create">
<label> Student Code : </label>
<input type="text" name="StudentCode">
<br>
<label> Full name : </label>
<input type="text" name="Fullname">
<br>
<label> Address : </label>
<input type="text" name="Address">
<br>
<input type="Submit" name="Submit">
</form>
<h1>@ViewBag.Khaa</h1>

